@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<h2>Here is a counter with an increment of 10</h2>
<Counter IncrementAmount="10"/>
<h2>Here is another counter with Increment of 2</h2>
<Counter IncrementAmount="2"/>